<h1>Title: <%= @post.title %></h1>
<h1>URL: <%= @post.url %></h1>
<h1>Email: <%= @post.user.email %></h1>
<h1>Time: <%= @post.created_at %></h1>

<h2>
Number of votes for this post:
  <span id="vote_count">  
    <%= @post.post_votes.count %>
  </span>
</h2>

<h1>
  <%= link_to("ADD A VOTE", "#", :class => "btn_vote", 'data-id' => @post.id) %>
</h1>

<!-- <div id="comment_button">
  <%= button_to "Vote on Post with ID = 3", "http://localhost:3000/post_votes/3" %>
</div> -->

<%= form_for @comment, :remote => true do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, :id => "comment_content" %>
  
<!--   <%= f.text_field :post_id, :value =>
    @post.id, :hidden => true %> -->

  <%= f.submit "submit new comment", :id => "comment_btn", 'data-posted' => @post.id %>
<% end %>

<h1>Comments</h1>
<table class="table table-condensed">
  <thead>
    <tr>  
      <th>Content</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody id="comments_list">
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>